body {
  margin: 0px;
  padding: 0px;
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;


}

:root {
    --blue-color: #2196f3;
    --gray-color: #757575;
    --dark-gray: #212121;
    --white-color: #fff;
    --black-color: #000;
    --dark-metal-color: #2f303a;
    --half-trans-white: rgba(255, 255, 255, 0.6);
    --button-color: #188CE8;
    --our-command: #f5f4fa;
}

header {
  border: 1px solid #ececec;
}

header a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-gray);
  font-weight: 500;
}

header a:not(.logo):hover,
header a:not(.logo):focus {
  color: var(--blue-color);
}

nav,
nav li,
.header-address,
.header-address li {
  display: inline-block;
}

.header-address li a {
  color: var(--gray-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--black-color);
  text-decoration: none;
}

footer .logo {
  color: var(--white-color);
}

.logo span {
  color: var(--blue-color);
}

.studio-title {
  background-color: var(--dark-metal-color);
}

.studio-title h1 {
  color: var(--white-color);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
}

.studio-title button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
}
.studio-title button:hover,
.studio-title button:focus {
  background-color: var(--button-color);
}

.studio-features li {
  list-style-type: none;
}

.studio-features {
font-size: 14px;
}

.studio-features h3 {
  color: var(--dark-gray);
  line-height: 1.14;
  text-transform: uppercase;
}

.studio-features p {
  color: var(--gray-color);
  line-height: 1.71;
}

.our-job li {
  list-style-type: none;
}

.our-job h2,
.our-command h2 {
  color: var(--dark-gray);
  font-size: 36px;
  line-height: 1.16;
}

.our-command {
  background-color: var(--our-command);
}

.our-command li {
  list-style-type: none;
  background-color: var(--white-color);
}

.our-command h3 {
  color: var(--dark-gray);
  font-size: 16px;
  line-height: 1.18;
}

.our-command p {
  color: var(--gray-color);
  line-height: 1.18;
}

footer {
  background-color: var(--dark-metal-color);
}

.footer-address li {
  list-style-type: none;
}

.footer-address a {
  text-decoration: none;
  color: var(--half-trans-white);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-address a:hover,
.footer-address a:focus,
.footer-address a.the-street:hover,
.footer-address a.the-street:focus {
  color: var(--blue-color);
}

.footer-address a.the-street {
  text-decoration: none;
  color: var(--white-color);
}

.filter-buttons li {
  display: inline-block;
}

.filter-buttons button {
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-buttons button:hover,
.filter-buttons button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.portfolio-content li {
  list-style-type: none;
}

.portfolio-content a {
  text-decoration: none;
  color: var(--dark-gray);
}

.portfolio-content h2 {
  color: var(--dark-gray);
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
}

.portfolio-content p {
  color: var(--gray-color);
  line-height: 1.87;
}
